body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.container {
  display: grid;
  width: 40vw;
  height: 80%;
  gap: 20px;
  grid-template-areas: 'head head head head' 'smb1 smb2 smb3 side' 'mainc mainc mainc side' 'mainc mainc mainc side' 'foot foot foot foot'; }
  .container__item {
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }

.header {
  grid-area: head; }

.smallbox--1 {
  grid-area: smb1; }

.smallbox--2 {
  grid-area: smb2; }

.smallbox--3 {
  grid-area: smb3; }

.main-content {
  grid-area: mainc; }

.sidebar {
  grid-area: side; }

.footer {
  grid-area: foot; }
